# gradle

.gradle/
build/
out/
classes/
src/generated/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# minecraft

run/
crash-reports/

# temp build/run logs

build.log
build.err.log
runClient.log
runClient.err.log
runClient.pid

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
